<nav>
    <button [routerLink]="ROUTER_TOKENS.HOME" routerLinkActive="active-link">home</button>
    <button [routerLink]="ROUTER_TOKENS.TODO_LIST" routerLinkActive="active-link">todo</button>
    <button [routerLink]="ROUTER_TOKENS.NOTING" routerLinkActive="active-link">noting</button>
    <button [routerLink]="ROUTER_TOKENS.CONTACT" routerLinkActive="active-link">contact</button>
    <button [routerLink]="ROUTER_TOKENS.FEEDBACK" routerLinkActive="active-link">feedbacks</button>
    <button [routerLink]="ROUTER_TOKENS.REGISTRATION" routerLinkActive="active-link">registration</button>
    <button [routerLink]="ROUTER_TOKENS.OBSERVABLE" routerLinkActive="active-link">admin</button>
</nav>
<router-outlet></router-outlet>